{
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "ignore",
  "plugins": [
    "@prettier/plugin-xml",
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-organize-attributes"
  ],
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "importOrder": [
    "^@angular/(.*)$",
    "^rxjs/(.*)$",
    "<THIRD_PARTY_MODULES>",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
