import { NgClass } from '@angular/common';
import { ChangeDetectionStrategy, Component, ViewEncapsulation, input } from '@angular/core';

@Component({
  selector: '<%= svgSelector %>',
  standalone: true,
  imports: [NgClass],
  template: `
    <%- svgContent %>
  `,
  styles: `:host { display: contents; }`,
  encapsulation: ViewEncapsulation.None,
  changeDetection: ChangeDetectionStrategy.OnPush,
})
export class <%= svgClassName %> {
  readonly class = input('');
}
